// $background: #f2f2f2;
// $primary: #e6003a;
// $text-color: #262626;
// $text-color-light: #737373;
// $border-color: #d9d9d9;

// $background: #171717;
// $primary: #da0037;
// $text-color: #ededed;
// $text-color-light: #444444;
// $border-color: #444444;

$background: #ffffff;
$primary: #7026b9;
$text-color: #404040;
$text-color-light: #737373;
$border-color: #d9d9d9;
$border-radius: 0.25em;
$box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
  rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
