// $background: #f2f2f2;
// $primary: #e6003a;
// $text-color: #262626;
// $text-color-light: #737373;
// $border-color: #d9d9d9;

// $background: #171717;
// $primary: #da0037;
// $text-color: #ededed;
// $text-color-light: #444444;
// $border-color: #444444;

$background: #ffffff;
$primary: #e6003a;
$text-color: #404040;
$text-color-light: #737373;
$border-color: #d9d9d9;
$border-radius: 0.25em;
