@import "./global.scss";

.footer {
  background-color: rgba($border-color, 0.4);
  font-size: 0.875rem;
  div {
    text-align: center;
  }
  .container {
    display: flex;
    flex-direction: column-reverse;
  }
}
.copyright {
  margin-top: 15px;
}
.footer-menu a {
  margin-right: 2em;
  margin-bottom: 15px;
}
.footer-menu a:last-child {
  margin-right: 0;
}

.footer-menu a:last-child {
  margin-right: 0;
}

@media screen and (min-width: 767px) {
  .footer .container {
    flex-direction: row;
    justify-content: space-between;
  }
  .copyright {
    margin-top: 0;
  }
}
