.footer {
  background-color: #f3f3f3;
  font-size: 0.875rem;
  div {
    text-align: center;
  }
}
.copyright {
  margin-bottom: 15px;
}
.footer-menu a {
  margin-right: 2em;
  margin-bottom: 15px;
}
.footer-menu a:last-child {
  margin-right: 0;
}

.footer-menu a:last-child {
  margin-right: 0;
}

@media screen and (min-width: 767px) {
  .footer .container {
    display: flex;
    justify-content: space-between;
  }
  .copyright {
    margin-bottom: 0;
  }
}
