@import "./colors.scss";
/* Variable */

// Order
// $border-radius: 0.25em;
* {
  box-sizing: border-box;
  transition: all 0.25s ease 0s;
}

* {
  color: $text-color;
  //font-size: 15px;
}
body {
  background-color: $background;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-size: 1.25rem;
}

a {
  text-decoration: none !important;
}
img {
  border-radius: $border-radius;
}

p {
  line-height: 2rem;
  margin-bottom: 1.5em;
  font-size: 1.1rem;
}
