svg {
  font-size: inherit;
  color: inherit;
}
svg:hover {
  color: $primary;
}

a:hover,
.active-link {
  color: $primary;
}

header button,
.drawer button {
  font-size: 1.7rem;
  display: flex;
  align-items: center;
}

header {
  // padding: 12px 16px;
  box-shadow: $box-shadow;
  background-color: $background;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-icon {
  cursor: pointer;
}
.nav-menu,
.social-share {
  display: none;
}
.branding {
  width: 100px;
  cursor: pointer;
  margin-right: 4em;
}
@media screen and (min-width: 767px) {
  .branding {
    width: 180px;
  }
  .nav-icon {
    display: none;
  }
  .nav-menu {
    display: block;
    width: 100%;

    a {
      margin-right: 2em;
      font-weight: 500;
      font-size: 1rem;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    a:hover {
      color: $primary;
    }
  }

  .dropdown {
    display: inline-block;
    margin-right: 2em;
    button {
      padding-top: 10px;
      padding-bottom: 10px;
      span {
        margin-right: 0.3em;
        font-weight: 500;
        font-size: 1rem;
      }
      svg {
        font-size: 0.875rem;
      }
      span:hover,
      svg:hover {
        color: inherit;
      }
    }
    button:hover {
      color: $primary;
    }
  }
  .dropdown-content {
    max-height: 0;
    overflow: hidden;
    position: absolute;
    background-color: $background;
    padding: 0.5em;

    a {
      display: block;
      padding-top: 1em;
      padding-bottom: 1em;
      padding-left: 1em;
      padding-right: 3em;
      border-bottom: 1px solid $border-color;
      margin-right: 0;
    }
    a:last-child {
      border-bottom: none;
    }
  }
  .nav-menu .dropdown:hover > .dropdown-content,
  .nav-menu .dropdown-content a:hover {
    max-height: 200px;
  }
  .nav-menu .dropdown:hover > .dropdown-content {
    box-shadow: $box-shadow;
  }
  .social-share {
    display: block;
    // overflow: auto;
    white-space: nowrap;
    svg {
      display: inline;
      padding: 0.4em;
      box-sizing: unset;
      transition: none;
    }
    svg:hover {
      color: $primary;
      fill: $primary;
    }
    a {
      margin-right: 1em;
      font-size: 1.1rem;
    }
    a:last-child {
      margin-right: 0;
    }
  }
}

/* drawer */
.drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  transition: none;
  z-index: 5;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
.drawer-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: $background;
}
.d-branding {
  padding-left: 16px;
  padding-right: 16px;
  box-shadow: $box-shadow;
}
.d-branding-img {
  max-width: 100px;
}
.d-menu {
  margin-top: 3em;
  padding-left: 16px;
  height: 100%;
  font-weight: 500;
  a {
    display: block;
    margin-bottom: 1.5em;
  }
}
.d-dropdown {
  // overflow: hidden;
  margin-bottom: 1.5em;
  button {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1em;
    width: 100%;
  }
  svg {
    font-size: 0.875rem;
    margin-left: 0.3em;
    transition: none;
    color: inherit;
    fill: inherit;
  }
  span {
    transition: none;
    color: inherit;
  }
  button:hover {
    color: $primary;
    fill: $primary;
  }
}
.d-dropdown-content {
  // overflow: hidden;
  padding-left: 20px;
  // max-height: 0;
  a {
    margin-bottom: 1em;
  }
  a:last-child {
    margin-bottom: 0;
  }
}

.d-active-link {
  color: $primary;
}

// .d-dropdown:hover > .d-dropdown-content,
// .d-dropdown-content a:hover {
//   max-height: 200px;
// }

.d-social-share {
  text-align: center;
  margin-bottom: 2em;
  h2 {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1.5em;
  }
  a {
    padding: 0.3em;
    margin-right: 2em;
  }
  a:last-child {
    margin-right: 0;
  }
  svg {
    display: inline-block;
    transition: none;
  }
  svg:hover {
    color: $primary;
    fill: $primary;
  }
}

@media screen and (max-width: 767px) {
  header {
    box-sizing: border-box !important;
    height: 52px !important;
  }
  .d-branding {
    box-sizing: border-box !important;
    max-height: 52px !important;
    height: 100% !important;
  }
}
.drawer-is-active {
  width: 100%;
}
@media screen and (min-width: 767px) {
  .drawer-is-active {
    width: 0% !important;
  }
  .drawer-content {
    width: 300px;
    transform: translateX(-100%);
  }
  .overlay {
    opacity: 0;
  }
}

/* body overflow hidden */
.body-over-h {
  overflow: hidden;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.04rem;
  margin-bottom: 0;
  line-height: 1.5rem;
}
