#moon {
  font-size: 16px;
}
#close {
  font-size: 16px;
}
#facebook,
#instagram,
#pinterest {
  font-size: 18px;
}

@media screen and (max-width: 767px) {
  #menu-bar {
    box-sizing: content-box;
    font-size: 28px;
    padding: 5px;
  }
  #moon {
    box-sizing: content-box;
    font-size: 18px;
    padding: 5px;
  }
  #facebook,
  #instagram,
  #pinterest {
    box-sizing: content-box;
    font-size: 18px;
  }
}
