#moon {
  font-size: 16px;
}
#close {
  font-size: 16px;
}
#facebook,
#instagram,
#pinterest {
  font-size: 18px;
}
#menu-bar {
  font-size: 24px;
}

@media screen and (min-width: 767px) {
  #moon {
    font-size: 18px;
  }
}
